PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret
PORT=8787
HORIZON_TESTNET_URL=https://horizon-testnet.stellar.org
HORIZON_MAINNET_URL=https://horizon.stellar.org
FRIENDBOT_URL=https://friendbot.stellar.org
WALLETCONNECT_PROJECT_ID=
